services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 2012
      POSTGRES_DB: Marketplace
    volumes:
      - pgdata:/var/lib/postgresql/data/
      - ./initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    networks:
      - app-network

  pgbouncer:
    image: edoburu/pgbouncer:latest
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: user
      DB_PASSWORD: 2012
      DB_NAME: Marketplace  # Добавьте это
      ADMIN_USERS: user,admin
      AUTH_TYPE: plain
    ports:
      - "15432:5432"
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge